body
	+theme(dark)
	background-repeat: no-repeat
	background-size: cover
	background-position: top left

a
	&:hover, &:focus, &:active, &:focus-visible
		color: inherit
		outline: none
		appearance: none
		box-shadow: none

.container
	max-width: 1218px


.page
	&__wrapper
		overflow: hidden
	&__single
		padding-top: var(--gapSection)
		padding-bottom: var(--gapSection)

		h2, h3, h4, h5
			text-transform: uppercase
			margin-top: $gap4
			margin-bottom: $gap2
			+ft(24, 24, 700)

%p
	opacity: 0.6
	+ft(16, 16*1.5, 400)

.section
	position: relative
	margin-top: var(--gapSection)
	margin-bottom: var(--gapSection)
	z-index: 1
	&--hero
		margin: 0
		padding-top: var(--gapSection)
		padding-bottom: var(--gapSection)
	&--about
		p:not([class])
			@extend %p
	&--features
		margin: 0
		padding-top: var(--gapSection)
		padding-bottom: var(--gapSection)
		background-color: $black
		overflow: hidden
		p:not([class])
			@extend %p
		&-gallery
			margin: 0
	
.row
	display: grid
	gap: var(--gapSection)
	row-gap: $gap4
	&--1
		grid-template-columns: 1fr 1fr 
	&--2
		grid-template-columns: 1fr 1fr
		div
			grid-column: 2
	+maw($md)
		&--1, &--2
			grid-template-columns: 1fr

.bg
	position: absolute
	inset: 0
	z-index: -1
	+sz(100%, 100%)
	display: grid
	& *
		height: 100%
		width: auto
		object-fit: cover
	&--1
		grid-template-columns: 1fr 1fr
		gap: var(--gapSection)
	+maw($md)
		&--1
			grid-template-columns: 1fr
			&::after
				content: ''
				position: absolute
				inset: 0
				display: block
				+sz(100%, 100%)
				background: rgba($black, 0.75)	



.stat
	padding: $gap4
	border: 2px solid rgba($white, 0.1)
	&__title
		opacity: 0.7
		+ft(18, 18, 300)
	&__val
		+ft(50, 50, 700)
		margin-bottom: $gap2
		strong
			color: $main
	&:last-child
		border-radius: 0 6pc 0 0

	&s
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
		gap: $gap4
		margin-top: $gap4
	+maw($xs)
		&s
			grid-template-columns: 1fr

.gallery
	display: grid
	gap: $gap2
	padding: $gap2
	&__item
		position: relative
		margin: 0
		overflow: clip
		&-overlay	
			position: absolute
			inset: 0
			background: rgba($black, 0.75)
			display: grid
			align-items: center
			gap: $gap2
			padding: $gap4
			text-align: center
			transition: $trs
			opacity: 0
			visibility: hidden
			p
				@extend %p
				transform: translateY(2em)
				transition: $trs
				transition-delay: 0.1s
		&:hover
			.gallery__item-overlay
				opacity: 1
				visibility: visible
				p
					transform: translateY(0)
			.gallery__item-title
				transform: translateY(0)
			
		&-img
			position: relative
			padding-top: 100%
			& > *
				position: absolute
				inset: 0
				+sz(100%, 100%)
		&-title
			@extend .h4
			margin: 0
			transform: translateY(2em)
			transition: $trs
	&--1
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
		+maw($lg)
			p
				display: none
		+maw($xs)
			p
				display: block