*
    font-family: $ffText, $ffBack
    
h1, h2, h3, h4, h5, h6
    font-family: $ffHeading


h1, .h1
    +ft(60, 60*1.2, 600)
    margin-top: $gap2
    +maw($lg)
        font-size: 55px
    +maw($md)
        font-size: 45px
    +maw($xs)
        font-size: 40px
       
   
h2, .h2
    +ft(36, 36*1.2, 700)
    margin-bottom: $gap4
    strong
        display: block
        color: $main
    +maw($md)
        +ft(30, 30*1.4, 700)
    +maw($sm)
        +ft(24, 24*1.4, 700)
    +maw($xs)
        +ft(24, 24*1.4, 700)
  

h3, .h3
    +ft(24, 24*1.4, 500)
    +maw($md)
        +ft(18, 18*1.4, 500)

.subtitle
    text-transform: uppercase
    letter-spacing: 0.1em
    +ft(14, 14, 500)
    color: $main

.text
    &--main
        color: $main