{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_1 }}
{{ with $data.homepage.section_1 }}
<section class="section section_1">
    <div class="container">
        
        <div class="row_1">
            <div>
                <h2>{{ .title }}</h2>
                <div>
                    {{ .desc }}
                </div>
                <a href="#" class="btn mt-4">
                    <b><span>{{ .btn.label }}</span><span>{{ .btn.label }}</span></b>
                </a>
            </div>
            <div>
                <img src="{{ .img | relURL }}" alt="ALT" width="100%">
            </div>
        </div>
       
      
    </div>
</section>
{{ end }}
{{ end }}